{% extends 'base.html' %}

{% block content %}
<div class="w-full max-w-lg p-8 space-y-6 bg-gray-800 rounded-lg shadow-lg">
  <h1 class="text-3xl font-bold text-center text-white">Register</h1>

  <!-- Role Selection -->
  <div class="space-y-4">
      <p class="text-lg text-gray-300">Please select your role:</p>
      <div class="flex space-x-4 justify-center">
          <button onclick="selectRole('pengguna')" class="btn-role bg-blue-600 text-white p-2 px-8 rounded-lg hover:bg-blue-700">Pengguna</button>
          <button onclick="selectRole('pekerja')" class="btn-role bg-blue-600 text-white p-2 px-8 rounded-lg hover:bg-blue-700">Pekerja</button>
      </div>
  </div>

  <!-- Pengguna Form -->
  <div id="form-pengguna" class="hidden space-y-4">
    <p class="text-lg text-gray-300">Register as Pengguna:</p>
    <form method="POST">
      {% csrf_token %}
      {{ pengguna_form.as_p }}
      <input type="hidden" name="role-pengguna" value="1">
      <button type="submit" class="w-full mt-4 px-4 py-2 text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none">Register as Pengguna</button>
    </form>
  </div>

  <!-- Pekerja Form -->
  <div id="form-pekerja" class="hidden space-y-4">
    <p class="text-lg text-gray-300">Register as Pekerja:</p>
    <form method="POST">
      {% csrf_token %}
      {{ pekerja_form.as_p }}
      <input type="hidden" name="role-pekerja" value="1">
      <button type="submit" class="w-full mt-4 px-4 py-2 text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none">Register as Pekerja</button>
    </form>
  </div>
</div>

<script>
function selectRole(role) {
  // Hide both forms first
  document.getElementById('form-pengguna').classList.add('hidden');
  document.getElementById('form-pekerja').classList.add('hidden');
  
  // Show the selected form
  document.getElementById('form-' + role).classList.remove('hidden');
}
</script>
{% endblock %}